/** @format */

// Color Variables
$primary-color: hsl(60, 100%, 25%);
$primary-color-light: hsl(60, 100%, 80%);
$primary-color-dark: hsl(60, 100%, 10%);

$color-grey-light: hsl(0, 0%, 50%);
$color-grey-dark: hsl(0, 0%, 20%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
