.button {
    width: 12rem;
    height: 7.5rem;
    border-radius: 20rem;
    margin: .4rem;
    border: none;
    background-color: inherit;
    font-size: 2rem;

        &:hover {
            background-color: $color-grey-light;
            color: $color-black;
            box-shadow: 1px 1px rgba(0,0,0,0.4);
            cursor: pointer;
        };

        &:active {
            box-shadow: none;
            transform: translate(0px, 1px);
        }
}

.greenButton {
    @extend .button;
    background-color: $primary-color;
    color: $color-white;
}