.button {
    width: 15rem;
    height: 7.5rem;
    border-radius: 20rem;
    margin: .4rem;
    border: none;
    background-color: inherit;
    font-size: 2rem;

        &:hover {
            background-color: $primary-color;
            color: $color-white;
            box-shadow: .1rem .2rem rgba(0,0,0,0.2);
        };
        &:active {
            box-shadow: none;
        }
}