.feedDisplay {
    font-size: 2rem;
    padding: 2rem;
}
.postSearch {
    display: flex;
    justify-content: center;
}
.feedContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}