.post_wrapper {
    display: flex;
    flex-direction: row;

    &:hover {
        background-color: $color-grey-light;
    }
}

.post_username {
    padding-top: .2rem;
    text-align: center;
    font-size: 3rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background-color: $primary-color;
    color: $color-white;
}

.post_description_wrapper {
    padding-left: 3rem;
    font-size: 2rem;
}

.post_title {
    font-size: 3rem;
}